.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 15rem;
}
form{
    display: flex;
    font-size: 25px;
    border: none;
    padding: -2px -2px;
}
.submit-btn {
    border-radius: 0px 20px 20px 0px;
    height: 81px;
    position: relative;
    top: 7px;
    left: -4px;
}
input {
    padding: -21px -2px;
    margin: 2px 2px;
    height: 81px;
    position: relative;
    top: 5px;
    left: -2px;
    width: 500px;
}
.title>span{
    color: yellow;
}
.title{
    color: gray;
    font-weight: 500;
}
.description{
    font-size: 25px;
    font-weight: 500;
    color: grey;
}
.banner>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.li-bottom{
    list-style: none;
    font-size: 16px;
    background-color: rgb(199, 197, 197);
    text-align: center;
    padding: 2px 0px;
}